li {
  border: 1px solid white;
  border-radius: 10%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  button {
    padding: .07rem 1rem;
    background: rgb(101, 101, 225);
    border-radius: 10%;
  }
}